.btn {
	background:  $brand;
	line-height:    1em;
	color: 	    white;
	font-size:     1rem;
	font-weight:    500;
    margin: 0 .25em 0 0;
    border:        none;
	padding:  14px 50px;
	cursor: 	pointer;
    transition: all 0.2s ease;
    // box-shadow: desaturate(#f97749,30) 0px 5px 10px 0px;
	
	&:active {transform: scale(0.98)}
	
	&:hover {
		background-color: desaturate(darken($brand, 8), 4);
        // box-shadow: desaturate(#f97749, 30) 0px 2px 10px 0px;
		color: white;
	}
}

.card .btn-small {
	font-size:  0.8rem;
	width: 		 110px;
	padding:  14px 0px;
	position: absolute;
	bottom: 30px;
	left: 	 50%;
	margin-left: -55px;
}



.card .btn-front {
	font-size:  0.8rem;
	width: 		 110px;
	padding:  14px 0px;
	bottom: 30px;
	left: 	 50%;
	margin-left: -55px;
}