button {
	background:  $green;
	line-height:    1em;
	color: 	    white;
	font-size:     1rem;
	font-weight:    500;
    margin: 0 .25em 0 0;
    border:        none;
	padding:  14px 50px;
	cursor: 	pointer;
    transition: all 0.2s ease;
    // box-shadow: desaturate(#f97749,30) 0px 5px 10px 0px;
	
	&:active {transform: scale(0.98)}
	
	&:hover {
		background-color: desaturate(darken($green, 7), 4);
        // box-shadow: desaturate(#f97749, 30) 0px 2px 10px 0px;
		color: white;
	}
}

.btn-small {
	font-size: 0.8rem;
	line-height: 0.8rem;
	padding:  12px 0;
	width: 110px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -55px;
	
}