button {
	background:  $green;
    font-size:   0.9rem;
	line-height:    1em;
	color: 	    white;
	font-size:     1rem;
	font-weight:    500;
    margin: 0 .25em 0 0;
    border:        none;
    border-radius: 30px;
    padding:  14px 50px;
    transition: all 0.2s ease;
    box-shadow: desaturate(rgba(98, 219, 92, 0.4), 30) 0px 5px 10px 0px;
	
	&:active {transform: scale(0.98)}
	
	&:hover {
		background-color: saturate(lighten($green, 1), 4);
        box-shadow: desaturate(rgba(98, 219, 92, 0.4), 30) 0px 9px 10px 0px;
		color: white;
	}
}

