.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card {
    height: 300px;
    width: 240px;
    border: 1px solid $border;
    margin: 15px;
    box-shadow: 0px 0px 14px 2px darken($border, 8);
    text-align: left;
    overflow: hidden;
    cursor: pointer;
    img{
        width: 240px;
    }
    h5{
        padding: 30px 20px 0 20px;
    }
    small {
        padding: 10px 20px;
    }
}

.card:hover {

    cursor: pointer;
    box-shadow: 0px 0px 14px 4px darken($border, 12);
}

.tags {
    border-top: 2px solid $border;
}