.card-container {
    margin-top: 30px;
    display:    flex;
    flex-wrap:  wrap;
    justify-content: center;
    align-items:     center;
}

.outer{perspective: 700px}

.target:hover { .card {transform: rotateY(180deg)} }

.spin {transform: rotateY(360deg)}

.half-spin { .card {transform: rotateY(180deg)}}

.card {
    height: 300px;
    width:  240px;
    position: relative;
    cursor:    pointer;
    transition:    all 1.6s ease;
    transform-style: preserve-3d;
    margin: 15px;
    
}

.front, .back {
    top:        0;
    left:       0;
    width:  240px;
    height: 300px;
    text-align:   left;
    position: absolute;
    border-radius: 2px;
    border:   1px solid $border;
    background-color:   white;
    backface-visibility: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.17);
    
    img{width: 240px}

    h5, a {
        padding: 30px 20px 0 20px;
        font-weight: 400;
    }
    p {
        margin: 0;
        font-weight: 300;
        font-size: 0.9rem;
        padding: 10px 10px 5px 20px;
    }

    a {
        text-align: center;
    }

    hr {
        margin: 6px 20px;
        height: 1px;
        background-color: $brand;
        border: 0px solid #000;
    }
}

.back {transform: rotateY(180deg)}

.hide-desk {
    display: none;
    margin-top: 10px;
    position: relative;
}