.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.outer{perspective: 700px}


.target:hover {
    .card {transform: rotateY(180deg)}
}

.spin {transform: rotateY(360deg)}

.card {
    height: 300px;
    width: 240px;
    position: relative;
    cursor:    pointer;
    transition:    all 1.6s ease;
    transform-style: preserve-3d;
    margin: 15px 15px 60px 15px;
    
}

.front, .back {
    top:        0;
    left:       0;
    width:  240px;
    height: 300px;
    position: absolute;
    border-radius: 2px;
    border:   1px solid $border;
    background-color:   white;
    backface-visibility: hidden;
    text-align: left;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.17);
    
    img{
        width: 240px;
    }

    h5, a {
        padding: 30px 20px 0 20px;
        font-weight: 600;
    }
    p {
        margin: 0;
        font-size: 12px;
        padding: 10px 10px 5px 20px;
    }
}

.back {transform: rotateY(180deg)}
