/*=============================================
=                   Colors                    =
=============================================*/

$bg: rgba(250, 250, 250, 1.0);
$border: rgba(224, 224, 224, 1.0);
$black: rgba(22, 22, 22, 1.0);
$green: rgba(0, 213, 98, 1.0);

$footer: rgba(82, 94, 107, 1.0);