/*=============================================
=                   Colors                    =
=============================================*/

$bg: rgba(250, 250, 250, 1.0);
$border: rgba(224, 224, 224, 1.0);
$black: rgba(0, 0, 0, 0.8);
$green: rgba(97, 212, 95, 1.0);
$blue: rgba(48, 53, 82, 0.95);

$footer: rgba(82, 94, 107, 1.0);