
/*----------  Break Point 1 - 880px  ----------*/

@media only screen and (max-width: 880px) {

    nav, .user {display: none}

    #nav-toggle {display: block}


    #hero {height: 400px}

    .text-content {
        max-width: 100%;
        margin-top: -80px;
    }

    #portfolio {
        width: 100%;
        position: static;
        margin: 0 auto;
        box-shadow: none;
    }

    .card-container {display: block}

    .target:hover {.card {transform: none}}

    .card {
        height: auto;
        width: 100%;
        position: static;
        margin: 0;
        margin-bottom: 50px;
        
    }


    .front, .back {
        width:  100%;
        height: auto;
        position: static;

        img{width: 100%}

        p {padding: 10px 10px 50px 20px}
    }

    .back {
        display: none;
    }

    #about{
        margin-top: 60px;
    }


    .left, .right {
        display: none;
    }


    #carousel {
        max-width: 100%;
    }


    #skills-slider {
        max-width: 100%;
        height: auto;
    }

    .slides {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    }

}



/*----------  Break Point 1 - 880px  ----------*/

@media only screen and (max-width: 500px) {



    #hero {
        height: 100vh;
    }
    .text-content {
        margin-top: -250px;
        h1 {
            font-size: 1.8rem;
        }
    }

    .contact-container {
        display: block;
    }
    .email, .location {
        text-align: center;
    }

    footer p {
        font-size: 0.7rem;
}




}