li {position: relative}

li[tooltip]:before {
  position: absolute;
  width: 81px;
  background-color: rgba(250, 250, 250, 0.5);
  height: 80px;
  line-height: 66px;
  padding: 0 10px;
  content: attr(tooltip);
  white-space: nowrap;
  display: none;
}

li[tooltip]:hover:before {display: block}