li {position: relative}

li[tooltip]:before {
  position: absolute;
  width: 81px;
  bottom: 12px;
  color: $black;
  height: 20px;
  line-height: 26px;
  padding: 0 10px;
  content: attr(tooltip);
  white-space: nowrap;
  display: none;
}

li[tooltip]:hover:before {display: block}