/*=============================================
=                  Typography                 =
=============================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


*, h1, h2, h3, h4, h5, h6, p, a, small {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $black;
}

h1 {
    font-size: 1.7rem;
    color: white;
}

h2 {
    font-size: 2.2rem;
    font-weight: 800;
    padding-bottom: 50px;
}

h2:after {
  content: "";
  position: absolute;
  border-bottom: 6px solid $green;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  top: 126px;
}


h3 {
    font-size: 1.4rem;
}

h4 {
    font-weight: 600;
    margin-bottom: 12px;
}

h5 {
    font-size: 14px;
}

p {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 24px;
}

small {

    font-size: 12px;
}

a {
    cursor: pointer;
}

.light {
    color: white;
    margin-bottom: 0;

    span, a {
        color: $green;
    }
}