/*=============================================
=                  Typography                 =
=============================================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*, h1, h2, h3, h4, h5, h6, p, a, small {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:    $black;
}

h1 {
    font-size: 1.7rem;
    color:    white;
}

h2 {
    font-size:    2.2rem;
    font-weight:     800;
    padding-bottom: 54px;
}

h2:after {
  content: "";
  width: 40px;
  top:  116px;
  left:   50%;
  margin-left: -20px;
  position: absolute;
  border-bottom: 6px solid $green;
}

h3 {font-size: 1.4rem}

h4 {
    font-weight:    600;
    margin-bottom: 12px;
}

h5 {font-size: 0.9rem}

p {
    font-size:     1rem;
    line-height:    1.4;
    margin-bottom: 24px;
}

small {font-size: 12px}

a, .fa {cursor: pointer}

.light {
    color:   white;
    margin-bottom: 0;

    span, a {color: $green}
}
