/*=============================================
=                Stylesheet Main              =
=============================================*/


/*----------  Imports  ----------*/
@import "normalise";
@import "colors";
@import "typography";
@import "buttons";
@import "cards";
@import "tooltip";

body {background-color: $bg}

#hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items:     center;
    position:      relative;
    background-position: top center;
    background-size:          cover;
    background-repeat:    no-repeat;
    background-image: url('../images/hero-img.jpg');
}

.container {
    max-width: 600px;
    margin:   0 auto;
}

.text-content {
    max-width: 590px;
    padding: 30px;
    text-align: center;
    margin-top: -140px;
    img {
        width: 100px;
        height: auto;
    }
}

#portfolio {
    max-width: 872px;
    position: absolute;
    background-color: white;
    padding: 30px 30px 60px 30px;
    top: 450px;
    left: 50%;
    margin-left: -436px;
    border: 1px solid $border;
    border-radius: 4px;
    text-align: center;box-shadow: 0px 10px 14px -6px darken($border, 10);
}

#about, #skills, #contact {
    width: 100%;
    background-color: white;
    margin-top: 520px;
    border-top: 2px solid $border;
    border-bottom: 2px solid $border;
    text-align: center;
    padding: 70px 30px 100px;
    position: relative;
}

#about::before{
        height: 45px;
        width: 45px;
        content: '';
        position: absolute;
        margin: -92px;
        left: 50%;
        margin-left: -22px;
        background-image: url('../images/green-arrow.png');
}


#skills, #contact{
    background-color: $bg;
    margin-top: 0;
    border-top: none;
}

#carousel {
    margin: 60px auto 0;
    width: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-user-select: -moz-none;
      -webkit-user-select: none;
          -ms-user-select: none;
              user-select: none;
}


#skills-slider {
    width: 710px;
    height: 110px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}

.slides {
    display: block;
    width: 1800px;
    transition: all 0.4s ease-in-out;
}

.slide {
    float: left;
    list-style-type: none;
    width: 100px;
    height: 100px;
    margin: 0 19px;
}


li > i {
    font-size: 4rem;
}


#contact {
    height: 450px;
    background-color: white;
}

.contact-container {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}

.email, .location {
    text-align: left;
}


footer {
    background-color: $footer;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}




@import "media-queries";